body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
  color: #111827;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-left .logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #0077ff;
}

.navbar-center a {
  margin: 0 15px;
  color: #333;
  font-weight: 500;
  text-decoration: none;
}

.navbar-right .icon {
  color: #333;
}

.logout-btn {
  background: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.main-content {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
}

.page {
  display: flex;
}

.sidebar {
  width: 250px;
  padding: 10px;
}

.chatWindow {
  flex-grow: 1;
  padding: 10px;
}
